@model Sharp.CMS.ViewModels.Page.PageWidgetsViewModel
@{
    ViewBag.PageName = "Widgets";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add New Widget</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Widgets" autocomplete="off" asp-antiforgery="true" id="newform" asp-action="Create" method="post">

            <div class="card-body register-card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-row">
                    <div class="col-md-3">
                        <label class="mandatory" asp-for="PageWidgetName"></label>
                        <input asp-for="PageWidgetName" placeholder="Enter Page Widget Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="PageWidgetName"></span>
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col-md-12">
                        <label class="mandatory" asp-for="PageWidgetDetailsEN"></label>
                        <textarea asp-for="PageWidgetDetailsEN" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="PageWidgetDetailsEN"></span>
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col-md-12">
                        <label class="mandatory" asp-for="PageWidgetDetailsLL"></label>
                        <textarea asp-for="PageWidgetDetailsLL" class="form-control"></textarea>
                        <span class="text-danger" asp-validation-for="PageWidgetDetailsLL"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group col-md-3">
                    <div class="form-check">
                        <input type="checkbox" asp-for="Status" class="form-check-input" />
                        <label class="form-check-label" asp-for="Status">Active</label>
                        <span class="text-danger" asp-validation-for="Status"></span>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button type="button" id="btnsubmit" class="btn btn-success">Save</button>
                <a asp-area="Administration" class="btn btn-danger" asp-controller="Widgets" asp-action="Create">Clear</a>
                <a asp-area="Administration" class="btn btn-primary" asp-controller="Widgets" asp-action="Index">List</a>
            </div>
        </form>
    </div>
</div>



@section scripts{
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('PageWidgetDetailsEN',
            {
                on:
                {
                    instanceReady: function (ev) {
                        this.dataProcessor.writer.setRules('*',
                            {
                                indent: false,
                                breakBeforeOpen: false,
                                breakAfterOpen: false,
                                breakBeforeClose: false,
                                breakAfterClose: false
                            });
                    }
                }
            });


        CKEDITOR.replace('PageWidgetDetailsLL',
            {
                on:
                {
                    instanceReady: function (ev) {
                        this.dataProcessor.writer.setRules('*',
                            {
                                indent: false,
                                breakBeforeOpen: false,
                                breakAfterOpen: false,
                                breakBeforeClose: false,
                                breakAfterClose: false
                            });
                    }
                }
            });


        CKEDITOR.editorConfig = function (config) {
            config.autoParagraph = false;
            config.fullPage = true;
            config.allowedContent = true;
            config.ignoreEmptyParagraph = true;
            config.tabSpaces = 0;
            config.forcePasteAsPlainText = true;
            config.enterMode = CKEDITOR.ENTER_DIV;
            config.basicEntities = true;
        };

        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                if ($('#newform').valid()) {
                    var pageWidgetDetailsEnData = CKEDITOR.instances.PageWidgetDetailsEN.getData();
                    var pageWidgetDetailsLlData = CKEDITOR.instances.PageWidgetDetailsLL.getData();

                    if (pageWidgetDetailsEnData === '') {

                        $.alert({
                            title: 'Validation!',
                            content: 'Enter Page Widget Details.',
                            type: 'red'
                        });
                    }
                    else if (pageWidgetDetailsLlData === '') {

                        $.alert({
                            title: 'Validation!',
                            content: 'Enter Page Widget Details.',
                            type: 'red'
                        });
                    }
                    else {

                        $.confirm({
                            title: 'Confirmation!',
                            type: 'green',
                            content: 'Do you want to Save Page Widget Details?',
                            buttons: {
                                confirm: function () {
                                    $("#loader").show();
                                    $('#newform').submit();
                                },
                                cancel: function () {
                                    $.alert('Canceled!');
                                }
                            }
                        });

                    }
                }


            });
        });


    </script>

}