
<link href="~/js/dropzone/dist/dropzone.css" rel="stylesheet" />
<script src="~/js/dropzone/dist/dropzone.js"></script>

<script>
    Dropzone.autoDiscover = false;
    $(function () {
        var dz = null;
        $("#demo-upload").dropzone({
            autoProcessQueue: false,
            paramName: "Media Upload",
            maxFilesize: 5, //mb
            maxThumbnailFilesize: 1, //mb
            maxFiles: 5,
            parallelUploads: 5,
            acceptedFiles: ".jpeg,.png,.jpg,.pdf",
            uploadMultiple: true,
            addRemoveLinks: true,
            //resizeWidth:128,
            init: function () {
                dz = this;
                $("#uploadbutton").click(function () {
                    dz.processQueue();
                    $(this).attr("disabled", "disabled");
                });
            },
            success: function (file) {
                var preview = $(file.previewElement);
                preview.addClass("dz-success text-success");
                setTimeout(function () {
                    dz.removeFile(file);
                    $("#refreshbutton").click();
                }, 2000);



            },
            queuecomplete: function () {
                $("#refreshbutton").click();
                $("#uploadbutton").removeAttr("disabled");
                alert('Files Uploaded Successfully!');

                window.location.reload();
            },
            dictDefaultMessage: "You can drag and drop your images here.",
            dictRemoveFile: "File Remove"
        });
        $("#refreshbutton").prepend('<i id="loading" class="fa fa-refresh fa-spin" style="display:none;"></i>&nbsp;')
        refreshProductPicture();
    });
    function refreshProductPicture() {
        $("#refreshbutton").click();
    }
</script>

@await Html.PartialAsync("~/Views/Shared/_DatatablesScripts.cshtml")
@Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })

@section scripts{
    <script>
        $(document).ready(function () {
            $('#CommonDataTable').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "/Administration/MediaAssets/GridAllUploadedMedia",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }, {
                        "targets": [2],
                        "orderable": false,
                        "searchable": false
                    }, {
                        "targets": [3],
                        "orderable": false,
                        "searchable": false
                    }

                ],
                "columns": [
                    { "data": "MediaHistoryId", "name": "MediaHistoryId", "autoWidth": true },
                    { "data": "FileName", "name": "FileName", "autoWidth": true },
                    { "data": "FilePath", "name": "FilePath", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return moment(full.CreatedOn).format("YYYY-MM-DD HH:mm:ss");
                        }
                    }
                ]
            });



        });

        function Delete(menuCategoryId) {
            $.confirm({
                title: 'Delete!',
                content: 'Do you want to Delete Menu Category!',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/Administration/MenuCategory/DeleteMenuCategory",
                            type: "POST",
                            data: { MenuCategoryId: menuCategoryId },
                            success: function (data, textStatus, xhr) {
                                if (data.Result == "success") {
                                    location.reload();
                                }
                                if (data.Result == "failed") {
                                    $.alert('Something Went Wrong');
                                }
                            },
                            error: function (xhr, status, err) {
                                if (xhr.status == 401) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                                if (xhr.status == 500) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                            }
                        });
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        }


    </script>


}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Media Uploads</h3>
        </div>

        <div class="card-body register-card-body">
            <div class="form-row">
                <div class="col-md-12" id="dropzone">

                    <form asp-controller="MediaAssets" autocomplete="off" asp-antiforgery="true" class="dropzone" id="demo-upload" enctype="multipart/form-data" asp-action="UploadMedia" method="post">


                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-row">



                        </div>




                    </form>
                </div>

            </div>

            <div class="form-row">
                <div class="col-md-12" id="showimages">

                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" id="uploadbutton" class="btn btn-success">Upload Media</button>
            <button type="button" id="refreshbutton" class="btn btn-primary">Refresh</button>
            <a asp-area="Administration" class="btn btn-danger" asp-controller="MediaAssets" asp-action="UploadMedia">Clear</a>

        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">All</h3>
        </div>
        <div class="card-body">
            <table id="CommonDataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>MediaHistoryId</th>
                        <th>FileName</th>
                        <th>FilePath</th>
                        <th>CreatedOn</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
