
@{ ViewBag.PageName = "Page"; }

@await Html.PartialAsync("~/Views/Shared/_DatatablesCss.cshtml")


<div class="col-md-12">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">All</h3>
        </div>
        <div class="card-body">
            <table id="CustomDataTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>PageId</th>
                        <th>PageName</th>
                        <th>MenuName</th>
                        <th>MenuName_LL</th>
                        <th>PageType</th>
                        <th>Active</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>Action</th>
                        <th>HomePage</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>





@await Html.PartialAsync("~/Views/Shared/_DatatablesScripts.cshtml")
@Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })

@section scripts{
    <script>
        $(document).ready(function () {
            $('#CustomDataTable').DataTable({
                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                "filter": true,
                "ajax": {
                    "url": "/Administration/NewPage/GridAllPages",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "orderable": true,
                        "searchable": true
                    },
                    {
                        "targets": [2],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [3],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [4],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [5],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [6],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [7],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [8],
                        "orderable": false,
                        "searchable": false
                    },
                    {
                        "targets": [9],
                        "orderable": false,
                        "searchable": false
                    }


                ],
                "columns": [
                    { "data": "PageId", "name": "PageId", "autoWidth": true },
                    { "data": "PageName", "name": "PageName", "autoWidth": true },
                    { "data": "MenuName_EN", "name": "MenuName_EN", "autoWidth": true },
                    { "data": "MenuName_LL", "name": "MenuName_LL", "autoWidth": true },

                    {
                        "render": function (data, type, full, meta) {
                            if (full.IsChildPage == "Parent") {
                                return '<button type="button" class="btn btn-Closedx btn-sm">  Parent  </button>';
                            }
                            if (full.IsChildPage == "Child") {
                                return '<button type="button" class="btn btn-lightcyanx btn-sm">  Child </button>';
                            }
                        }
                    },
                    { "data": "Active", "name": "Active", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-primary" href="/Administration/NewPage/Edit/' + full.PageId + '"> Edit</a>'; }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.Active == "Active") {
                                return '<button type="button" class="btn btn-success btn-sm" onclick="InActive(' + full.PageId + ');">Active</button>';
                            }
                            if (full.Active == "InActive") {
                                return '<button type="button" class="btn btn-warning btn-sm" onclick="Active(' + full.PageId + ');">InActive </button>';
                            }
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            if (full.IsChildPage == "Parent" && full.IsHomePage == "N")
                            {
                                return '<button type="button" class="btn btn-warning btn-sm" onclick="SetHomePage(' + full.PageId + ');">Set HomePage</button>';
                            }
                            else if (full.IsChildPage == "Parent" && full.IsHomePage == "Y")
                            {
                                return '<button type="button" class="btn btn-success btn-sm">Current HomePage</button>';
                            }
                            else
                            {
                                return '-';
                            }
                        }
                    }

                ]
            });



        });

        function Active(PageId) {
            $.confirm({
                title: 'Alert !',
                content: 'Do you want to Activate Page!',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/Administration/NewPage/Deactivate",
                            type: "POST",
                            data: { Id: PageId },
                            success: function (data, textStatus, xhr) {
                                if (data.Result == "success") {
                                    location.reload();
                                }
                                if (data.Result == "failed") {
                                    $.alert('Something Went Wrong');
                                }
                            },
                            error: function (xhr, status, err) {
                                if (xhr.status == 401) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                                if (xhr.status == 500) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                            }
                        });
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        }
        function InActive(PageId) {
            $.confirm({
                title: 'Alert !',
                content: 'Do you want to Deactivate Page!',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/Administration/NewPage/Deactivate",
                            type: "POST",
                            data: { Id: PageId },
                            success: function (data, textStatus, xhr) {
                                if (data.Result == "success") {
                                    location.reload();
                                }
                                if (data.Result == "failed") {
                                    $.alert('Something Went Wrong');
                                }
                            },
                            error: function (xhr, status, err) {
                                if (xhr.status == 401) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                                if (xhr.status == 500) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                            }
                        });
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        }

        function SetHomePage(pageId) {
            $.confirm({
                title: 'Alert !',
                content: 'Do you want to Set Default HomePage!',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/Administration/NewPage/SetHomePage",
                            type: "POST",
                            data: { Id: pageId },
                            success: function (data, textStatus, xhr) {
                                if (data.Result == "success") {
                                    location.reload();
                                }
                                if (data.Result == "failed") {
                                    $.alert('Something Went Wrong');
                                }
                            },
                            error: function (xhr, status, err) {
                                if (xhr.status == 401) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                                if (xhr.status == 500) {
                                    alert('Error');
                                    window.location.href = "/Portal/Logout";
                                }
                            }
                        });
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        }

    </script>


}

